{% extends "base.html" %}
{% block title %}
 job portal-About
{% endblock title %}
{% block content1 %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>About Us</h1>
      <p>Welcome to our job portal! We strive to connect job seekers with opportunities and help employers find the right talent for their organizations.</p>
      <h2>Our Mission</h2>
      <p>Our mission is to make the job search process easier and more efficient for both job seekers and employers. We aim to provide a user-friendly platform that streamlines the hiring process and fosters meaningful connections.</p>
     
      <h2>Contact Us</h2>
      <p>If you have any questions or feedback, feel free to reach out to us at info@jobportal.com.</p>
    </div>
  </div>
</div>
{% endblock content1 %}